<footer>
    <div class="container" id="footer">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="logo">
                   
                    <!-- <a class="logo-ft scroll-top" href="#">Shop Now</a> -->
                    <div class="location">
                    <div class="connect-us">
                        <h4>SHOP NOW</h4>
                    <ul>
                    <li><a href="https://shopee.co.id/babelleathercraft"><img src="/assets/img/shopee.png" width></a></li>
                    <li><a href="https://www.tokopedia.com/babelleather?source=universe&st=product"><img src="/assets/img/tokped.png"></a></li>
                    </ul>
                </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="location">
                    <h4>Location</h4>
                    <ul>
                        <li>Jl. Turen Baru No. 86x<br>Sidorejo Lor, Salatiga</li>
                        <li>Kode Pos <br>50714</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-12">
                <div class="contact-info">
                    <h4>More Info</h4>
                    <ul>
                        <li><em>Phone</em>: +62895706289456</li>
                        <li><em>Email</em>: billy.wong@gmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-12">
                <div class="connect-us">
                    <h4>Get Social with us</h4>
                    <ul>
                        <li><a href="https://www.instagram.com/babel_leathercraft/"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://www.facebook.com/babelleathercraft"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-google"></i></a></li>
                        <li><a href="https://wa.me/0895706289456"><i class="fa fa-whatsapp"></i></a></li>
                       
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>