<section id="about" class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="assets/babel/1.jpeg" alt="" style="border-radius: 50%;">
                    </div>
                    <h4>Kulit Sebagai Bahan Dasar</h4>
                    <div class="line-dec"></div>
                    <p>Kulit sebagai bahan dasar pembuatan produk <br> Kulit yang digunakan berkualitas baik <br> Agar kualitas produk yang dihasilkan memiliki kualitas yang tinggi</p>
                   
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="assets/babel/8.jpeg" alt="" style="border-radius: 50%;">
                    </div>
                    <h4>Cara Perawatan</h4>
                    <div class="line-dec"></div>
                    <p>1. Perhatikan lokasi menyimpan <br> 2. Beri silica gel atau kamper <br> 3. Jangan jemur di bawah matahari langsung <br> 4. Jangan menggunakan sikat untuk membersihkan kulit <br> 5. Bersihkan dengan bahan kondisioner khusus untuk kulit</p>
                   
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="assets/babel/wallet.jpeg" alt="" style="border-radius: 50%;">
                    </div>
                    <h4>Dompet</h4>
                    <div class="line-dec"></div>
                    <p>Material menggunakan kulit sapi asli jenis Vegtan Leather
                        jahitan tangan manual rapih dan presisi
                        finishing handburnished di gosok manual sehingga menampilkan efek natural
                        tekstur kesan vintage
                        menggunakan benang berbahan polyester waxed.</p>
                   
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="assets/babel/kitabsuci.jpeg" alt="" style="border-radius: 50%;">
                    </div>
                    <h4>Cover Alkitab</h4>
                    <div class="line-dec"></div>
                    <p>Cover alkitab terbuat dari bahan dasar kulit asli. <br>
                        Dapat ditambahkan dengan kustom grafir <br>
                        Dan dapat meng-kustom warna</p>
                </div>
            </div>          
        </div>
            
        <div id="contact-us2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        
                        <div class="primary-blue-button">
                            <a href="#" class="scroll-link" data-id="blog">GO TO PRODUCT GALLERY</a>
                        </div>
                    </div>
                </div>
            </div>
       <!-- <div class="container">
           <div class="row">
    <div class="col-md-12">
        <div class="primary-blue-button">
            <a href="#" class="scroll-link" data-id="blog">Continue Reading</a>
        </div>
    </div>-->
</div> 
</div>


    </div>
</section>