<div class="tabs-content" id="blog"></div>

		<noscript>
			<style>
				.es-carousel ul{
					display:none;
				}

			</style>
        </noscript>
			
			<div class="container">
				<div class="row">
				<div class="section-heading">
				<h1>Product Gallery</h1>
				<div class="line-dec"></div>	
			</div>
				<div id="rg-gallery" class="rg-gallery">
					<div class="rg-thumbs">
						<!-- Elastislide Carousel Thumbnail Viewer -->
						<div class="es-carousel-wrapper">
							<div class="es-nav">
								<span class="es-nav-prev">Previous</span>
								<span class="es-nav-next">Next</span>
							</div>
							<div class="es-carousel">
								<ul>
									<li><a href=""><img src="assets/babel/thumb/kitabsuci.jpeg" data-large="assets/babel/kitabsuci.jpeg" alt="image01" data-description="Cover Alkitab" /></a></li>
									<li><a href="#"><img src="assets/produk/thumb/kitab1.jpg" data-large="assets/produk/kitab1.jpg" alt="image02" data-description="COVER ALKITAB DENGAN ALKITAB UKURAN SEDANG" /></a></li>
									<li><a href="#"><img src="assets/produk/thumb/kitab2.jpg" data-large="assets/produk/kitab2.jpg" alt="image03" data-description="COVER ALKITAB DENGAN ALKITAB UKURAN SEDANG" /></a></li>
									<li><a href="#"><img src="assets/produk/thumb/kitab3.jpg" data-large="assets/produk/kitab3.jpg" alt="image04" data-description="COVER ALKITAB DENGAN ALKITAB UKURAN SEDANG" /></a></li>
									<li><a href="#"><img src="assets/produk/thumb/kitab4.jpg" data-large="assets/produk/kitab4.jpg" alt="image05" data-description="COVER ALKITAB DENGAN ALKITAB UKURAN SEDANG" /></a></li>
									<li><a href="#"><img src="assets/babel/thumb/belt.jpeg" data-large="assets/babel/belt.jpeg" alt="image06" data-description="Ikat Pinggang" /></a></li>
									<li><a href="#"><img src="assets/produk/thumb/belt1.jpg" data-large="assets/produk/belt1.jpg" alt="image07" data-description="EATHER BELT BLACK - Cokelat KULIT SAPI ASLI GESPER KUNINGAN ASLI (BAHAN PELURU),TEBAL SABUK 4MM ,LEBAR SABUK 3.8CM ,PANJANG SABUK 140 CM" /></a></li>
									<li><a href="#"><img src="assets/produk/thumb/belt2.jpg" data-large="assets/produk/belt2.jpg" alt="image08" data-description="EATHER BELT BLACK - Cokelat KULIT SAPI ASLI GESPER KUNINGAN ASLI (BAHAN PELURU),TEBAL SABUK 4MM ,LEBAR SABUK 3.8CM ,PANJANG SABUK 140 CM" /></a></li>
									<li><a href="#"><img src="assets/produk/thumb/belt3.jpg" data-large="assets/produk/belt3.jpg" alt="image09" data-description="EATHER BELT BLACK - Cokelat KULIT SAPI ASLI GESPER KUNINGAN ASLI (BAHAN PELURU),TEBAL SABUK 4MM ,LEBAR SABUK 3.8CM ,PANJANG SABUK 140 CM" /></a></li>
									<li><a href="#"><img src="assets/produk/thumb/belt4.jpg" data-large="assets/produk/belt4.jpg" alt="image10" data-description="EATHER BELT BLACK - Cokelat KULIT SAPI ASLI GESPER KUNINGAN ASLI (BAHAN PELURU),TEBAL SABUK 4MM ,LEBAR SABUK 3.8CM ,PANJANG SABUK 140 CM" /></a></li>
									<li><a href="#"><img src="assets/babel/thumb/bag.jpeg" data-large="assets/babel/bag.jpeg" alt="image11" data-description="Whereon the thought might think sometime it saw" /></a></li>
									<li><a href="#"><img src="assets/produk/thumb/bag1.jpg" data-large="assets/produk/bag1.jpg" alt="image12" data-description="The carcass of beauty spent and done" /></a></li>
									<li><a href="#"><img src="assets/produk/thumb/bag2.jpg" data-large="assets/produk/bag2.jpg" alt="image13" data-description="Time had not scythed all that youth begun" /></a></li>
									<li><a href="#"><img src="assets/produk/thumb/bag3.jpg" data-large="assets/produk/bag3.jpg" alt="image14" data-description="Nor youth all quit; but, spite of heaven's fell rage" /></a></li>
									<li><a href="#"><img src="assets/produk/thumb/bag4.jpg" data-large="assets/produk/bag4.jpg" alt="image15" data-description="Some beauty peep'd through lattice of sear'd age" /></a></li>
									<li><a href="#"><img src="assets/babel/thumb/wallet.jpeg" data-large="assets/babbel/wallet.jpeg" alt="image16" data-description="Oft did she heave her napkin to her eyne" /></a></li>
									<li><a href="#"><img src="assets/images/thumbs/17.jpg" data-large="assets/images/17.jpg" alt="image17" data-description="Which on it had conceited characters" /></a></li>
									<li><a href="#"><img src="assets/images/thumbs/18.jpg" data-large="assets/images/18.jpg" alt="image18" data-description="Laundering the silken figures in the brine" /></a></li>
									<li><a href="#"><img src="assets/images/thumbs/19.jpg" data-large="assets/images/19.jpg" alt="image19" data-description="That season'd woe had pelleted in tears" /></a></li>
									<li><a href="#"><img src="assets/images/thumbs/20.jpg" data-large="assets/images/20.jpg" alt="image20" data-description="And often reading what contents it bears" /></a></li>
									<li><a href="#"><img src="assets/images/thumbs/21.jpg" data-large="assets/images/21.jpg" alt="image21" data-description="As often shrieking undistinguish'd woe" /></a></li>
									<li><a href="#"><img src="assets/images/thumbs/22.jpg" data-large="assets/images/22.jpg" alt="image22" data-description="In clamours of all size, both high and low" /></a></li>
									<li><a href="#"><img src="assets/images/thumbs/23.jpg" data-large="assets/images/23.jpg" alt="image23" data-description="Sometimes her levell'd eyes their carriage ride" /></a></li>
									<li><a href="#"><img src="assets/images/thumbs/24.jpg" data-large="assets/images/24.jpg" alt="image24" data-description="As they did battery to the spheres intend" /></a></li>
								</ul>
							</div>

							
						</div>
							
						
						<!-- End Elastislide Carousel Thumbnail Viewer -->
					</div><!-- rg-thumbs -->
				</div><!-- rg-gallery -->
			</div><!-- content -->
</div>